.header {
  padding: 15px 20px;
  text-align: center;
}

.navigation {
  margin: 25px;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
}

.navigation li {
  display: inline;
}

.navigation li a {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
  border-color: rgba(175, 47, 47, 0.2);
  font-size: 24px;
}
